@model RegisterViewModel

<div class="register-page">
    <div class="lead">
        <h1>Register</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                            <span asp-vavidation-for="Email"></span>
                        </div>

                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            <span asp-vavidation-for="Username"></span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                            <span asp-vavidation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class="form-control" placeholder="Confirm password" asp-for="ConfirmPassword" autocomplete="off">
                            <span asp-vavidation-for="ConfirmPassword"></span>
                        </div>
                        <button class="btn btn-primary" name="button" value="register">Register</button>
                    </form>
                    <br />
                    <div>
                        <a class="btn btn-info text-white" asp-controller="Account" asp-action="Login"
                           asp-route-returnUrl="@Model.ReturnUrl">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
