@page "/skillPosts"
@using AppForSkills.Client.Models
@using AppForSkills.Client.Components
@inject HttpClient Http

<div class="page">
    <AuthorizeView>
        <Authorized Context="Auth">
            <a class="btn btn-info" href="/skillPosts/AddSkillPost">Dodaj post</a><br /><br />
            <Skills SkillPosts="@skillPosts"></Skills>
        </Authorized>
        <NotAuthorized>
            <p>Nie można wyświetlić strony niezalogowanym użytkownikom</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private List<SkillPostDto> skillPosts { get; set; } = new List<SkillPostDto>();

    protected override async Task OnInitializedAsync()
    {
        ListSkillPosts skills = new ListSkillPosts();
        skills = await Http.GetFromJsonAsync<ListSkillPosts>("api/posts");
        skillPosts = skills.SkillPosts.ToList();
    }
}
