@using AppForSkills.Client.Models
@inject HttpClient Http


@foreach (var like in likes)
{
    <div class="autorLik">@like.Username</div><br />
}

@code {
    [Parameter]
    public List<LikeDto> likes { get; set; } = new List<LikeDto>();
}
