@using AppForSkills.Client.Models
@inject IModalService modal
@inject IDialogService DialogService

@foreach (var post in Posts)
{
    <h4 class="topic">@post.Topic</h4>
    <div class="posts">
        <a href="/discussions/@post.DiscussionId" class="linkLike">
            <div class="datePost">@post.Date</div><br />
            <div>@post.PostText</div>
        </a>
        <div>&#10084;&#65039; <button @onclick="()=> OpenDialog(post)" class="linkLike">@post.Likes.Count</button></div>
    </div>
    <br />
}

@code {
    [Parameter]
    public List<UserDiscussionPostDto> Posts { get; set; } = new List<UserDiscussionPostDto>();

    private void OpenDialog(UserDiscussionPostDto post)
    {
        var parameters = new DialogParameters();
        parameters.Add("likes", post.Likes);
        DialogService.Show<LikesDialog>("Polubienia", parameters);
    }
}
